body {
    background-image: url("/img/purty_wood.png");
    background-repeat: repeat;
}

.mainContent {
    margin: auto;
    width: 100%;
}

.simonBezel {
    height: 532px;
    width: 532px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #444;
    position: relative;
    box-shadow: 0px 0px 15px #888888;

}

.simonFrame {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    margin: 12px 0 0 12px;
}

.simonActionBtn {
    height: 242px;
    width: 242px;
    opacity: 0.7;
    border-width: 6px;
    border-color: #444;
    border-style: solid;
    cursor: pointer;
}

.lightsOn {
    /* Hacky solution for my loop issue */
    animation: lighting 1s infinite;
}

.lightsOff {
    animation: none;
}

@keyframes lighting {
    0% {opacity: 0.7;}
    70% {opacity: 1;}
    100% {opacity: 0.7;}
}


.simonActionBtn:hover {
    /*opacity: 1;*/
    /*animation: lighting 1s;*/
    animation: lightup 1s infinite;
}

@keyframes lightup {
    0% {opacity: 0.7;}
    50% {opacity: 0.9;}
    100% {opacity: 0.7;}
}


#simonActionBtn1 {
    border-radius: 100% 0 0 0;
    /*background-color: #0d0;*/
    background-color: #13ff7c;
}

#simonActionBtn2 {
    /*margin-left: 250px;*/
    border-radius: 0 100% 0 0;
    margin-left: 254px;
    margin-top: -254px;
    /*background-color: #d00;*/
    background-color: #fc0102;
}

#simonActionBtn3 {
    /*margin-left: 250px;*/
    /*margin-left: 50%;*/
    /*margin-top: 50%;*/
    border-radius: 0 0 0 100%;
    /*background-color: #00d;*/
    background-color: #fed93f;
}

#simonActionBtn4 {
    /*margin-left: 250px;*/
    border-radius: 0 0 100% 0;
    margin-left: 254px;
    margin-top: -254px;
    /*background-color: #dd0;*/
    background-color: #1c8cff;
}

.simonInnerBezel {
    height: 274px;
    width: 274px;
    top: -390px;
    left: 105px ;
    border-radius: 50%;
    background-color: #444;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    margin: 10px 0 0 10px;
}

.simonSettingFrame {
    height: 252px;
    width: 252px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -126px 0 0 -126px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    background-color: #ccc;
}

#simonControls {
    margin-top: 25%;
/*     margin-left: 6%; */
/*     width: 80%; */
    position: relative;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
/*     margin: 30px 10px; */
}

li {
    width: 100%;
}


.simonLogo {
    font-size: 2.4em;
    text-align: center;
    margin: -17px;
}


.settingLabel {
    font-size: 0.9em;
    height: 15px;
    padding: 10px;
    margin: -14px 0px 0px -10px;
    padding: 2px;
/*     position: fixed */
    text-align: left;
}

.simonSettingSwitch {
    display: block;
    text-align: center;
    height: 15px;
    width: 15px;
    padding: 10px;
    border: 3px solid #222;
    border-radius: 50%;
    box-shadow: 0px 4px 3px #888;

}



#repeatSwitch {
    color: #0f3;
    background-color: #222;
    height: 20px;
    border-radius: 20%;
}

#startButton {
    background-color: #f00;
    cursor: pointer;
}

#startButton:active {
    box-shadow: 0px 0px 0px #333;
    transform: translateY(2px);
}

#strictSwitch {
    background-color: #f90;
    cursor: pointer;
}

#strictSwitch:active {
    box-shadow: 0px 0px 0px #333;
    transform: translateY(2px);
}
